<img width="1645" height="394" alt="image" src="https://github.com/user-attachments/assets/25273064-7fe8-44fd-ad84-70a9863bcc7e" />
<img width="1664" height="799" alt="image" src="https://github.com/user-attachments/assets/58a6d2e9-48ff-470a-9eca-d8989497a7aa" />
<img width="1651" height="227" alt="image" src="https://github.com/user-attachments/assets/eb92a73b-7c18-49b3-967f-3ddab8a63061" />
<img width="1312" height="716" alt="image" src="https://github.com/user-attachments/assets/62394a72-a5d0-41fc-8096-e3648993e984" />
<img width="1124" height="789" alt="image" src="https://github.com/user-attachments/assets/381fd504-e386-4225-b9d5-4ce6d652ead4" />
